body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

header, footer {
    background-color: #181818;
    padding: 20px;
    color: white;
}

.start-page, .game-page {
    background-image: url("/sources/backgroundImage.png");
}